<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
  <title>台鐵列車即時車況查詢</title>
  <meta name="description" content="選擇上車的車站，查詢台鐵列車的即時車況">
  <meta name="keywords" content="台鐵,tra,火車,誤點,delay,車況,即時">
  <meta name="author" content="Yu-Chun Chang">
  <link rel="stylesheet" href="libs/tether-1.3.3/dist/css/tether.min.css">
  <link rel="stylesheet" href="libs/4.0.0-alpha.6/css/bootstrap.min.css">
  <link rel="stylesheet" href="libs/select2-4.0.3/dist/css/select2.min.css">
  <link rel="stylesheet" href="assets/css/app.css">
</head>
<body>
  <nav class="navbar fixed-top navbar-inverse bg-inverse">
    <a class="navbar-brand" href="#">台鐵列車即時車況查詢</a>
  </nav>

  <div class="container">
    <div class="train_app">
      <select2 :options="stationsOfLine" v-model="selectedStation" style="width: 100%"></select2>
      
      <hr>

      <div class="list-group">
        <div class="list-group-item" v-if="!this.$store.state.liveBoard.length">
          目前沒有這個車站的即時列車資訊。
        </div>
        <div class="list-group-item" v-else v-for="liveboard in this.$store.state.liveBoard">
          <div class="row no-gutters list-group-item-row">
            <div class="col list-group-item-left-col">
              <span class="badge badge-default">{{ liveboard.ScheduledDepartureTime.replace(':00', '') }}</span>
              開往 {{ liveboard.EndingStationName.Zh_tw }}
              <a href="#" v-on:click="showTrainInfo(liveboard.TrainNo)">{{ liveboard.TrainNo }}</a> 車次 
              {{ getTrainTypeByID(liveboard.TrainClassificationID) }}
            </div>
            <div class="col list-group-item-right-col">
              <span class="badge badge-pill badge-danger" v-if="liveboard.DelayTime > 0">
                晚 {{ liveboard.DelayTime }} 分
              </span>
              <span class="badge badge-pill badge-success" v-else>
                準點
              </span>
            </div>
          </div>
        </div>
      </div>

      <div class="modal fade" id="train_info_modal" tabindex="-1" role="dialog" aria-labelledby="列車資訊" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">列車資訊</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              {{ trainInfo }}
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">關閉</button>
            </div>
          </div>
        </div>
      </div>
    
    </div>
  </div>



  <script src="libs/vue-dev/dist/vue.min.js"></script>
  <script src="libs/vuex/vuex@2.3.1.js"></script>
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script src="libs/tether-1.3.3/dist/js/tether.min.js"></script>
  <script src="libs/4.0.0-alpha.6/js/bootstrap.min.js"></script>
  <script src="libs/select2-4.0.3/dist/js/select2.full.min.js"></script>
  <script src="assets/js/VueSelect2.js"></script>
  <script src="assets/js/app.js"></script>
</body>
</html>
