body {
  margin-bottom: 15px;
}

.train_app {
  margin-top: 70px;
}

.list-group-item-row {
  width: 100%;
}

.list-group-item-right-col {}

.list-group-item-right-col {
  width: 60px;
  max-width: 60px;
  text-align: right;
}

.select2-container--default .select2-selection--single {
  border: 1px solid rgba(0,0,0,.15);
  border-radius: .25rem;
  padding: .5rem .75rem;
  height: auto;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    top: 10px;
    right: 10px;
}